<div app-button class="header__logo" [img]="'drawer_logo-black'" [bgColor]="'white'" [borderColor]="'greylight'"></div>

<div app-button class="header__burger" [class.hidden]="isNavigationOverlay()" [icon]="'burger.svg'"
    [iconColor]="'black'" [borderColor]="'greylight'" (click)="handleNavigationOverlay()"></div>

<div app-button class="header__burger cross hidden" [class.hidden]="!isNavigationOverlay()" [icon]="'cross.svg'"
    [iconColor]="'black'" [borderColor]="'greylight'" (click)="handleNavigationOverlay()"></div>