@use 'mixins' as *;

:host {
    @include flex($align: center, $justify: space-between, $gap: .5rem);
    @include position($position: fixed, $top: 0, $left: 0, $zindex: 100);

    width: 100%;
    padding: 1rem;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.header {
    &__logout {
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__burger {
            display: none;
        }
    }

}